.PoolAdditional {
    &-Wrapper {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &-Statistics {
        width: 130px;
        height: 336px;
        border-radius: 22px;
        background-color: #070707;
        padding: 25px 31px 25px 27px;
        gap: 36px;
        display: flex;
        flex-direction: row;
        align-items: flex-end;

        &_Straw {
            background-color: #121212;
            width: 20px;
            height: 278px;
            border-radius: 22px;
            display: flex;
            flex-direction: column-reverse;

            &-Background {
                &-EndsIn {
                    border-radius: 22px;
                    background: linear-gradient(179.05deg, rgba(0, 173, 248, 0.2) 35.73%, rgba(0, 78, 112, 0) 161.44%), radial-gradient(1074.54% 112.56% at 144.44% -12.56%, #00FFC2 0%, rgba(0, 0, 0, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(138.89% 99.55% at 50% 7.4%, #64B3AE 0%, rgba(0, 114, 219, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
                }

                &-Amount {
                    border-radius: 22px;
                    background: linear-gradient(177.81deg, #DAFFC3 26.54%, rgba(0, 112, 51, 0.12) 90.33%), radial-gradient(1074.54% 128.06% at 144.44% -28.06%, #00FFC2 0%, rgba(0, 0, 0, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(138.89% 113.27% at 50% -5.36%, #64B3AE 0%, rgba(0, 114, 219, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
                }
            }

            &Value {
                &-EndsIn {
                    border-radius: 22px;
                    filter: blur(11.5px);
                    background: linear-gradient(3.34deg, rgba(255, 193, 253, 0) -13.73%, rgba(20, 156, 99, 0) 97.91%), radial-gradient(1074.54% 128.06% at 144.44% -28.06%, #00FFC2 0%, rgba(0, 0, 0, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(176.01% 106.79% at 50% -5.36%, #200CFF 0%, rgba(0, 114, 219, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
                }

                &-Amount {
                    border-radius: 22px;
                    filter: blur(11.5px);
                    background: linear-gradient(3.34deg, rgba(255, 193, 253, 0) -13.73%, rgba(20, 156, 99, 0) 97.91%), radial-gradient(1074.54% 128.06% at 144.44% -28.06%, #00FFC2 0%, rgba(0, 0, 0, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(176.01% 106.79% at 50% -5.36%, #200CFF 0%, rgba(0, 114, 219, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
                }
            }
        }
    }
}
