@use "@/styles/_variables.scss" as constants;

.DrownSection {
    margin-top: 200px;

    &-Container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        width: inherit;
        opacity: 0;

        &.in-view {
            opacity: 1;
            transition: opacity 0.5s ease-in;
        }

        &_details {
            width: 562px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 18px;

            .DrownHeader {
                font-weight: 600;
                font-size: 25px;
                line-height: 30px;
            }

            .DrownDetail {
                font-weight: 400;
                font-size: 24px;
                line-height: 30px;
                color: #dad2cf;
                padding-top: 10px;

                &-Icon {
                    float: left;
                    margin-top: -8px;
                }

                &.item1 {
                    width: 483px !important;
                }

                &.item2 {
                    width: 500px !important;
                }

                &.item3 {
                    width: 503px !important;
                }
            }

            .Slider {
                width: 510px;

                .Dot {
                    cursor: pointer;
                    border-radius: 6px;
                }

                .slick-active {
                    .Dot {
                        scale: 1.2;
                        opacity: 1 !important;
                        transition: scale 0.3s ease-in;
                    }
                }

                &Dots {
                    display: flex !important;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 10px;
                    list-style: none;
                    margin-top: 50px;
                }
            }
        }
    }
}

@media screen and (min-width: constants.$small) and (max-width: constants.$medium) {
    .DrownSection {
        margin-top: 13.5vw;

        &-Container {
            &_details {
                width: 36vw;
                gap: 1.2vw;

                .DrownHeader {
                    font-size: 1.6vw;
                    line-height: 1.9vw;
                }

                .DrownDetail {
                    font-size: 1.3vw;
                    line-height: 2vw;
                    padding-top: 0.8vw;

                    &-Icon {
                        float: left;
                        margin-top: -0.7vw;
                        width: 3vw;
                        height: 2.5vw;
                    }

                    &.item1 {
                        width: 27.5vw !important;
                    }

                    &.item2 {
                        width: 28vw !important;
                    }

                    &.item3 {
                        width: 28vw !important;

                        &-Icon {
                            width: 3vw;
                            height: 2.5vw;
                        }
                    }
                }

                .Slider {
                    width: 32vw;

                    &Dots {
                        gap: 0.8vw;
                        margin-top: 3.5vw;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: constants.$xxsmall) and (max-width: #{constants.$small - 1}) {
    .DrownSection {
        margin-top: 21vw;

        &-Container {
            opacity: 1;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            &_details {
                width: 75vw;
                gap: 4.5vw;

                .DrownHeader {
                    display: none;
                }

                .DrownDetail {
                    color: #ffffff;
                    font-size: 3.5vw;
                    line-height: 3.5vw;

                    @for $i from 0 through 2 {
                        &.item#{$i + 1} {
                            font-size: 3vw;
                            line-height: 3vw;
                            width: 64vw !important;
                        }
                    }

                    &-Icon {
                        float: left;
                        margin-top: -0.7vw;
                        width: 3vw;
                        height: 2.5vw;
                    }
                }

                .Slider {
                    width: 66vw;

                    &Dots {
                        gap: 0.8vw;
                        margin-top: 3vw;

                        .Dot {
                            width: 1vw;
                            height: 1vw;
                            border-radius: 0.5vw;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: constants.$xxsmall) and (max-width: #{constants.$xsmall - 1}) {
    .DrownSection {
        &-Container {
            &_details {
                .DrownDetail {
                    font-size: 14px;
                    line-height: 16px;
                    width: 100%;

                    @for $i from 0 through 2 {
                        &.item#{$i + 1} {
                            font-size: 12px;
                            line-height: 14px;
                            width: 100% !important;
                        }
                    }
                }

                .Slider {
                    width: 100%;

                    &Dots {
                        gap: 2vw;
                        margin-top: 6vw;

                        .Dot {
                            width: 2.2vw;
                            height: 2.2vw;
                            border-radius: 1.1vw;
                        }
                    }
                }
            }
        }
    }
}
