@use "@/styles/_variables.scss" as constants;

.LaunchWrapper {
    &.desktop-only {
        display: block;
    }

    &.mobile-only {
        display: none;
    }

    position: relative;
    background: #1263fe;
    box-shadow: inset -4px -4px 4px rgba(255, 255, 255, 0.18), inset 4px 4px 4px rgba(255, 255, 255, 0.18);
    border-radius: 9px;
    cursor: pointer;

    &-Text {
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.86);
        font-weight: 600;
        font-size: 12px;
        line-height: 28px;
        padding: 4px 32px;
        z-index: 5;
        position: relative;
    }

    &-Mask {
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 130px;
    }
}

@media screen and (min-width: constants.$xsmall) and (max-width: #{constants.$small - 1}) {
    .LaunchWrapper {
        &.desktop-only {
            display: none;
        }

        &.mobile-only {
            display: block;
        }

        border-radius: 1.5vw;

        &-Text {
            font-size: 2.5vw;
            line-height: 5.5vw;
            padding: 0.7vw 14vw;
        }

        &-Mask {
            display: none;
        }
    }
}

@media screen and (min-width: constants.$xxsmall) and (max-width: #{constants.$xsmall - 1}) {
    .LaunchWrapper {
        &.desktop-only {
            display: none;
        }

        &.mobile-only {
            display: block;
        }

        border-radius: 1.5vw;

        &-Text {
            font-size: 2.5vw;
            line-height: 5.5vw;
            padding: 0.7vw 14vw;
        }

        &-Mask {
            display: none;
        }
    }
}

@media screen and (min-width: constants.$xxsmall) and (max-width: #{constants.$xsmall - 1}) {
    .LaunchWrapper {
        &-Text {
            font-size: 12px;
            line-height: 25px;
        }
    }
}
