.DrownSection {
    &-Container {
        &_logo {
            position: relative;
            margin-top: -40px;

            .TwitterLink {
                width: 680px;
                height: 620px;
            }
        }

    }
}

@media (max-width: 500px) {
    .DrownSection {
        &-Container {
            &_logo {
                position: relative;
                margin-top: 0;
                align-self: center;

                .TwitterLink {
                    width: 390px;
                    height: 350px;
                }
            }
        }
    }
}
