.ExploreSection {
    width: 100%;
    margin-top: 380px;
    text-align: center;
    align-self: center;

    &-Heading {
        background: linear-gradient(90deg, #FFFFFF -4.55%, #D6D6D6 -4.53%, #ECF3FF 34.65%, #4C4D4F 60.27%, rgba(17, 17, 17, 0.0666667) 100.96%);
        font-weight: 600;
        font-size: 50px;
        line-height: 58px;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        opacity: 0;

        &.active {
            opacity: 1;
            transition: opacity 1s ease-in;
        }
    }
}

@media (max-width: 500px) {
    .ExploreSection {
        margin-top: 150px;

        &-Heading {
            font-weight: 600;
            font-size: 25px;
            line-height: 29px;
        }
    }
}
