.GameCard {
    border-radius: 4.5rem;

    &-Container {
        border-radius: 4.5rem;
        border-top-right-radius: 11rem;

        &_Footer {
            border-bottom-left-radius: 4.5rem;
            border-bottom-right-radius: 4.5rem;
        }

        &_Image {
            border-radius: 4.5rem;
            border-top-right-radius: 11rem;
        }
    }
}
