@use "@/styles/_variables.scss" as constants;

.TargetsSection {
    margin-top: 200px;
    position: relative;

    &-AliensLeft {
        width: 554px;
        height: auto;
        position: absolute;
        top: 40%;
        left: 0;
        z-index: -1;
    }

    &-AliensRight {
        display: none;
    }

    &-Benefits {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-end;
        width: inherit;
        gap: 120px;

        .Benefit {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 12px;

            &Label {
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                justify-content: flex-start;
                gap: 5px;
                opacity: 0;

                &-Text {
                    font-weight: 600;
                    font-size: 25px;
                    line-height: 70px;
                }

                &-Image {
                    width: 70px;
                    height: 125px;
                }

                &.in-view {
                    opacity: 1;
                    transition: opacity 1s ease-in;
                }
            }

            &Details {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                gap: 70px;

                &-Items {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    gap: 15px;
                    max-width: 440px;

                    &_description {
                        &::first-letter {
                            font-family: "Misto";
                        }
                        font-weight: 600;
                        font-size: 22px;
                        line-height: 22px;

                        @for $i from 0 through 4 {
                            &-item#{$i + 1} {
                                opacity: 0;

                                &-in-view {
                                    opacity: 1;
                                    transition: opacity 0.5s ease-in #{($i * 0.5) + "s"};
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: constants.$xmedium) and (max-width: constants.$medium) {
    .TargetsSection {
        margin-top: 15vw;

        &-AliensLeft {
            top: 40%;
            width: 36.7vw;
            height: auto;
        }

        &-Benefits {
            gap: 7vw;

            .Benefit {
                &Label {
                    gap: 0.4vw;

                    &-Text {
                        font-size: 1.45vw;
                        line-height: 3.5vw;
                    }

                    &-Image {
                        width: 4.6vw;
                        height: 8vw;
                    }
                }

                &Details {
                    gap: 4.7vw;

                    &-Items {
                        gap: 0.5vw;
                        max-width: 17vw;

                        &_description {
                            font-size: 1vw;
                            line-height: 1vw;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: constants.$small) and (max-width: #{constants.$xmedium - 1}) {
    .TargetsSection {
        &-AliensLeft {
            top: 7vw;
            width: 36.7vw;
            height: auto;
        }

        &-Benefits {
            gap: 8vw;

            .Benefit {
                &Label {
                    gap: 0.4vw;

                    &-Text {
                        font-size: 1.7vw;
                        line-height: 3.5vw;
                    }

                    &-Image {
                        width: 4.6vw;
                        height: 8vw;
                    }
                }

                &Details {
                    gap: 2vw;

                    &-Items {
                        gap: 0.5vw;
                        max-width: 25vw;

                        &_description {
                            font-size: 1.3vw;
                            line-height: 1.5vw;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: constants.$xxsmall) and (max-width: #{constants.$small - 1}) {
    .TargetsSection {
        margin-top: 25vw;
        gap: 20vw !important;

        &-AliensLeft {
            top: 75vw;
            width: 48.5vw;
            height: auto;
            margin-left: -9vw;
        }

        &-AliensRight {
            display: block;
            top: -10vw;
            right: 0;
            width: 40.1vw;
            height: 63.3vw;
            position: absolute;
            z-index: -1;
        }

        &-Benefits {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 40vw;

            .Benefit {
                &:last-child {
                    align-self: flex-end;
                }

                &Label {
                    gap: 0;
                    align-items: baseline;

                    &-Text {
                        font-size: 4vw;
                        line-height: 15vw;
                    }

                    &-Image {
                        width: 8vw;
                        height: 14vw;
                    }

                    opacity: 1;
                }

                &Details {
                    gap: 2.5vw;

                    &-Items {
                        gap: 2vw;
                        max-width: 65vw;

                        &_description {
                            font-weight: 600;
                            font-size: 3.2vw;
                            line-height: 3.2vw;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}
