@use "@/styles/_variables.scss" as constants;

.JoinUsButton {
    position: absolute;
    font-style: normal;
    font-weight: 600;
    font-size: 9px;
    padding: 4px 34px;
    background: #1263fe;
    filter: drop-shadow(0px 4px 7px rgba(0, 0, 0, 0.25));
    box-shadow: inset -4px -4px 4px rgba(255, 255, 255, 0.18), inset 4px 4px 4px rgba(255, 255, 255, 0.18);
    border-radius: 3px;
    line-height: 16px;
    cursor: pointer;
    display: inline-block;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;

    &.in-view {
        animation: bounce 1.2s ease 1 2s;
    }
}

@media screen and (min-width: constants.$xmedium) and (max-width: constants.$medium) {
    .JoinUsButton {
        padding: 0.25vw 2.2vw;
        border-radius: 0.2vw;
        line-height: 1vw;
        font-size: 0.6vw;
    }
}

@media screen and (min-width: constants.$small) and (max-width: #{constants.$xmedium - 1}) {
    .JoinUsButton {
        padding: 1.4vw 7.5vw;
        border-radius: 0.9vw;
        line-height: 1.2vw;
        font-size: 1.2vw;
        box-shadow: 7.243780612945557px 7.243780612945557px 7.243780612945557px 0px rgba(255, 255, 255, 0.12) inset,
            -7.243780612945557px -7.243780612945557px 7.243780612945557px 0px rgba(255, 255, 255, 0.13) inset;
    }
}

@media screen and (min-width: constants.$xxsmall) and (max-width: #{constants.$small - 1}) {
    .JoinUsButton {
        text-transform: capitalize;
        padding: 1.2vw 16vw;
        border-radius: 2vw;
        line-height: 7vw;
        font-size: 3vw;
        width: max-content;
        box-shadow: 7.243780612945557px 7.243780612945557px 7.243780612945557px 0px rgba(255, 255, 255, 0.12) inset,
            -7.243780612945557px -7.243780612945557px 7.243780612945557px 0px rgba(255, 255, 255, 0.13) inset;
        filter: none;
    }
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translate(-50%, -50%);
    }
    40% {
        transform: translate(-50%, calc(-50% - 20px));
    }
    60% {
        transform: translate(-50%, calc(-50% - 13px));
    }
}

@-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translate(-50%, -50%);
    }
    40% {
        transform: translate(-50%, calc(-50% - 15px));
    }
    60% {
        transform: translate(-50%, calc(-50% - 7px));
    }
}

@-moz-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translate(-50%, -50%);
    }
    40% {
        transform: translate(-50%, calc(-50% - 15px));
    }
    60% {
        transform: translate(-50%, calc(-50% - 7px));
    }
}

@-o-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translate(-50%, -50%);
    }
    40% {
        transform: translate(-50%, calc(-50% - 15px));
    }
    60% {
        transform: translate(-50%, calc(-50% - 7px));
    }
}

@-ms-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translate(-50%, -50%);
    }
    40% {
        transform: translate(-50%, calc(-50% - 15px));
    }
    60% {
        transform: translate(-50%, calc(-50% - 7px));
    }
}
